---
layout: post
---

			<section>
				<div class="">
					{% for post in paginator.posts %}
					<article>
						<h3><a href="{{site.baseurl}}/{{post.url}}">{{post.title}}</a></h3>
						<p>{{post.excerpt|strip_html|tryncate:100}}</p>
						<p>发布于<a href="">{{post.date | date_to_long_string}}</a>, 出自于<a href="">{{post.author|default:site.author}}</a></p>
					</article>
					{% endfor %}
					<div class="clearfix">
						{% if paginator.previous_page %}
						<a href="{{site.baseurl}}/{{paginator.previous_page_path}}" class="previous_page">上一页</a>
						{% else %}
						<button disabled="">没有了</button>
						{% endif %}
						{% if paginator.next_page %}
						<a href="{{site.baseurl}}/{{paginator.next_page_path}}" class="next_page">下一页</a>
						{% else %}
						<button disabled="" class="none">没有了</button>
						{% endif %}
					</div>
				</div>




