---
layout: base
---


  <div class="body">
    <div class="section_left">
     
      <!-- 文章列表开始 -->
      {% for tag in site.tags %}
      	<div class="tagposts" id="{{tag[0]}}">
	      <h2>{{tag[0]}}</h2>
      	  {% for post in tag[1] %}
          <article>
	         <h3> <a href="{{site.baseurl}}{{post.url}}">{{post.title}}</a></h3>
	            <p class="post-subtitle">{{post.excerpt|strip_html|truncate:100}}</p>
	          </a>
	          <p class="post-meta">Posted by <a href="#">{{post.author|default:site.author}}</a> on {{post.date|date_to_long_string}}</p>
            </article>
      	  {% endfor %}

        </div>
      {% endfor %}
      <!-- 文章列表结束 -->
    </div>

    {% include aside.html %}
</div>
    <div class="pic"></div>
    </div>
        <div class="footer">
               <div><p>粤ICP备16000810号-<a href="">陈希钻</a>-个人博客</p></div>
      </div>
  </div>
</body>
</html>





<script>
window.onload = function()
{
	var tag = location.href.split('?').pop();
	$('#'+tag).css('display', 'block');
	$('.site-heading h1').html('标签：'+tag);
}

</script>