<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/style.css">
</head>
<body>
	<div class="contain">
		<div class="res">
			<header>
				<div class="top">
					<h1>ekko个人博客</h1>
					<p>艾克个人博客是一个要写作业的个人博客，提供一个互联网从业者的学习成果和工作经验总结。</p>
				</div>
				<div class="home">
					<ul>
						<li><a href="{{site.baseurl}}/">首页</li></a>
						<li><a href="{{site.baseurl}}/tags.html?bootstrap">bootstrap</li></a>
						<li><a href="{{site.baseurl}}/tags.html?PHP">PHP语言</li></a>
						<li><a href="{{site.baseurl}}/tags.html?JQuery">JQuery</li></a>
						<li><a href="{{site.baseurl}}/tags.html?Linxu">linxu</li></a>
						<li><a href="{{site.baseurl}}/tags.html?Javascript">Javascript</li></a>
						<li><a href="{{site.baseurl}}/tags.html?Html5">Html5 & CSS3</li></a>
						<li><a href="{{site.baseurl}}/tags.html?Lara">lara博客</li></a>
						<li><a href="">其他</li></a>
					</ul>
				</div>
			</header>


			{{content}}